# Xcode
DerivedData/
build/
xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# SwiftPM resolved file can stay, but workspace state should be ignored
Z3st.xcodeproj/project.xcworkspace/xcuserdata/

# App artifacts
*.ipa
*.dSYM
*.xcarchive

# Secrets and local env files
.env
*.secret
.env.*
.DS_Store
.vscode/
.idea/
*.mobileprovision
*.provisionprofile
*.p12
*.cer
*.key
*.pem
*.der
*.crt
*.csr

# Supabase SQL migrations (managed outside VCS)
supabase/*.sql

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
